<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HBNB</title>
  </head>
  <body>
    <ul>
      {% for state in states %}
        <li>{{ state.name }}</li>
        <ul>
          {% for city in state.cities %}
            <li>{{ city.name }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
      <h1>States</h1>
        <ul>
            {% for state in states %}
            <li>{{ state.name }}</li>
            {% endfor %}
    </ul>
    {%else%}
    <p>No states available</p>
    {%endif%}
</ul>
</body>
</html>
